append
outputs
prompts
list*
__pycache__
.vscode
.env
test/
plugins/**
!plugins/curl
plugins/curl/*
!plugins/curl/*.py
!plugins/plugin_modules_is_here.txt
!plugins/refresh/
!plugins/refresh/*.py
CreatePrompt2/**/*
.DS_Store
