append
outputs
prompts
list*
temp/
$jsonl
__pycache__
.vscode
.env
$jsonl
test/
plugins/**
!plugins/curl
plugins/curl/*
!plugins/curl/*.py
!plugins/plugin_modules_is_here.txt
!plugins/refresh/
!plugins/refresh/*.py
CreatePrompt2/**/*
tools/*.js
.DS_Store
